<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Blogapp</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/style.css">

</head>
<body>
	<div id="container">
		<div id="menubar">
			<ul id="menu" class="nav nav-tabs">
				<li><a href="?">Home</a></li>
				<?php if(isset($_SESSION['username'])): ?>
					<li><a href="?page=posts">Posts</a></li>
					<li><a href="?page=newpost">New post</a></li>
					<li><a href="?page=logout">Logout</a></li>
				<?php else: ?>
					<li><a href="?page=login">Log in</a></li>
					<li><a href="?page=signup">Sign up</a></li>
				<?php endif; ?>
			</ul>
		</div> <!--menubar -->
	</div> <!--container -->
	
	<div id="container">
		<div id="content" class="panel panel-default">
	
