<div>
      <h2>Enter Username and Password</h2>
         <form role = "form" action = "?page=login" method = "post">
            <h4><?php echo $msg; ?></h4>
            <input type = "text" class = "form-control" 
               name = "username" placeholder = "username = tutorialspoint" 
               required autofocus></br>
            <input type = "password" class = "form-control"
               name = "password" placeholder = "password = 1234" required>
            <button type = "submit" name = "login">Login</button>
         </form>
			 
</div>