<div class="panel panel-heading">
	<h2>New post</h2>
</div>
<div class="panel panel-content">
	<form role = "form" action = "?page=newpost" method = "post" name="newpostform">
	    <p><?php echo $msg; ?></p>
	    <div class="input-group">
		    <input type = "text" class = "form-control" name = "title" placeholder = "your post title" required>
		    <br>
		    <textarea name = "post" placeholder = "your post here" cols="80" rows="10" required></textarea>
		    <br>
		    Make it public?
		    <input type="checkbox" name="public">
		</div>
	    <br>
	    <button type = "submit" name = "newpost" class="btn btn-primary">Post it!</button>
	 </form>
 </div>