<div class="panel panel-heading">
	<h2>Postitused</h2>
</div>

	<?php
		foreach ($titles as $n => $title) {
			
			echo "<div id='post-head' class='panel panel-heading'>";
			echo "<h4>".htmlspecialchars($title)."</h4>";
			echo "</div>";

			echo "<div id='post-content' class='panel panel-content'>";
			echo "<div style='word-break: break-all';><p>".htmlspecialchars($posts[$n])."</p></div>";
			echo "</div>";

			echo "<div id='post-foot' class='panel panel-footer'>";
			echo "<div>Posted by: ".$_SESSION['username']."<br>".$dates[$n]."</div>";
			echo "<span class='label label-warning'>";
			echo "<a href='?page=deletepost&postid=".$ids[$n]."'>Delete this post</a>";
            echo "</span>";
            echo "<span class='label label-warning'>";
			echo "<a href='?page=changepost&postid=".$ids[$n]."'>Edit this post</a>";
            echo "</span>";
            echo "</div>";
            echo "<hr>";           
            
		}
	?>

