<div>
      <h2>Enter Username and Password to sign up</h2>
         <form role = "form" action = "?page=signup" method = "post">
            <h4><?php echo $msg; ?></h4>
            <input type = "text" class = "form-control" 
               name = "nusername" placeholder = "username = tutorialspoint" 
               required autofocus></br>
            <input type = "password" class = "form-control"
               name = "npassword" placeholder = "password = 1234" required>
            <button type = "submit" name = "signup">Sign up</button>
         </form>
			 
</div>