<div class="panel-heading">
      <h2>Enter Username and Password to sign up</h2>
</div>
<div class="panel-content">
         <form role = "form" action = "?page=signup" method = "post">
            <p><?php echo $msg; ?></p>
            <div class="input-group">
               <input type = "text" class = "form-control" 
                  name = "nusername" placeholder = "username" 
                  required autofocus></br>
               <input type = "password" class = "form-control"
                  name = "npassword" placeholder = "password" required>
            </div>
            <button type = "submit" name = "signup" class="btn btn-primary">Sign up</button>
            <a href="?page=login">Click here to log in</a>
         </form>
			 
</div>