body {
	margin: 0px;
}

#menubar {
	background-color: ;
}
#post-head {
	padding: 2px;

	
}
#post-content {
	


}
#post-foot {
	padding: 2px;
	font-style: italic;
	border: none;
	margin-bottom: 0px;
}

#footer {
	padding: 0px;
	position: relative;
	bottom: 0px;
	width: 100%;
}

h2, h4 {
	font-family: Anton;
}

p {
	font-family: Crimson-Text;
	padding-left: 5px;
}

hr {
	margin-top: 0px;
	border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
