#menubar {
	background-color: ;
}
#post-head {
	padding: 2px;
	
}
#post-content {
	

}
#post-foot {
	padding: 2px;
	font-style: italic;
	border: none;
	margin-bottom: 0px;
}

h2, h4 {
	font-family: Anton;
}

p {
	font-family: Crimson-Text;
}

hr {
	margin-top: 0px;
	border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
